Makefile
Makefile.*
Makefile_*.mk
debug
release
doc/html
lib
bin
*~
*.o
*.moc
*.app
*.pdb
*.bak
*.rej
*.exe
*.orig
*.user
*.user.*
*.sln
*.suo
*.sdf
*.opensdf
*.vcproj
*.vcxproj
*.filters
/ipch
Thumbs.db
*.xcodeproj
*.plist
.DS_Store
communi-config.prf
.qmake.cache
.tmp
*.Debug
*.Release
moc_*.cpp
*.changes
*.deb
build-stamp
configure-stamp
/debian
/qtc_packaging
/examples/bot/bot
/tests/auto/irccommand/irccommand
/tests/auto/ircmessage/ircmessage
/tests/auto/ircmessagedata/ircmessagedata
/tests/auto/ircmessagedecoder/ircmessagedecoder
/tests/auto/ircsender/ircsender
/tests/auto/ircsession/ircsession
/tests/benchmarks/ircmessage/ircmessage
/tests/benchmarks/ircmessagedecoder/ircmessagedecoder
