Makefile
Makefile.*
Makefile_*.mk
debug
release
doc/html
/lib
/bin
/qml
/imports
/coverage
*~
*.o
*.so
*.moc
*.app
*.pdb
*.bak
*.rej
*.exe
*.orig
*.user
*.user.*
*.json
*.sln
*.suo
*.sdf
*.opensdf
*.vcproj
*.vcxproj
*.filters
/ipch
Thumbs.db
*.dylib
*.xcodeproj
*.plist
.DS_Store
communi-config.prf
.qmake.cache
.qmake.stash
.config.vars
.tmp
*_wrapper.sh
*_wrapper.bat
*.Debug
*.Release
moc_*.cpp
moc_predefs.h
qrc_*.cpp
qt.conf
*_plugin_import.cpp
/examples/bot/bot
/examples/client/client
/examples/minimal/minimal
/examples/qmlbot/qmlbot
/examples/quick/quick
/tests/auto/dbgout/tst_dbgout
/tests/auto/irc/tst_irc
/tests/auto/ircbuffer/tst_ircbuffer
/tests/auto/ircbuffermodel/tst_ircbuffermodel
/tests/auto/ircchannel/tst_ircchannel
/tests/auto/irccommand/tst_irccommand
/tests/auto/irccommandparser/tst_irccommandparser
/tests/auto/irccommandqueue/tst_irccommandqueue
/tests/auto/irccompleter/tst_irccompleter
/tests/auto/ircconnection/tst_ircconnection
/tests/auto/irclagtimer/tst_irclagtimer
/tests/auto/ircmessage/tst_ircmessage
/tests/auto/ircnetwork/tst_ircnetwork
/tests/auto/ircpalette/tst_ircpalette
/tests/auto/irctextformat/tst_irctextformat
/tests/auto/ircuser/tst_ircuser
/tests/auto/ircusermodel/tst_ircusermodel
/tests/benchmarks/ircmessage/tst_ircmessage
/tests/benchmarks/ircmessagedecoder/tst_ircmessagedecoder
/tests/benchmarks/irctextformat/tst_irctextformat
