Makefile
Makefile.*
Makefile_*.mk
debug
release
imports
lib
bin
*~
*.o
*.moc
*.app
*.pdb
*.bak
*.rej
*.exe
*.orig
*.pro.user
communi-config.prf
.qmake.cache
.make.cache
.tmp
ABLD.BAT
bld.inf
*.mmp
moc_*.cpp
/tests/auto/ircparser/ircparser
/tests/auto/ircprefix/ircprefix
/tests/auto/ircsession/ircsession
